<% if post.live? %>
  <article class="post" id="<%= dom_id(post) %>">
    <header class="post-header">
      <h2><%= link_to post.title, blog_post_url(post) %></h2>
      <section class="details">
        <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='date'>
          <%= l(post.published_at.to_date, :format => :long) %>.
        </time>
        <% if (categories = post.categories).any? %>
          <aside class='tags'>
            -
            <% categories.each_with_index do |category, index| %>
              <%= link_to category.title, blog_category_url(category) -%><%= ',' if index < ((categories.length) - 1) %>
            <% end %>
          </aside>
        <% end %>
      </section>
    </header>
    <section class='clearfix'>      
      <% if (request.path.first(5) == '/blog') %>
      <%= raw post.body %>
      <% else %>
      <%= truncate(post.body,
                   :length => RefinerySetting.find_or_set(:blog_post_teaser_length, 250),
                   :preserve_html_tags => true) %>
      <% end %>
    </section>
    <footer class="post-footer">
      <% 
        if BlogPost.comments_allowed?
          if post.comments.any?
             comment_count =  '( ' + pluralize(post.comments.approved.count, t('blog.shared.comments.singular')) + ' )'
 						 read_more_link = ' read more ' + comment_count
          else
          	 read_more_link = ' read more'
          end
        end
       
        post_link = link_to read_more_link, blog_post_url(post), :class => 'read-more'
      %>
      <%= post_link %>
    </footer>
  </article>
<% end %>
