<% content_for :body_content_left do %>
  <%=raw @page[Page.default_parts.first.to_sym] if Page.default_parts.any? %>
	<header class="section-header">
		<h3>Articles</h3>	
		<%= will_paginate @blog_posts %>
	</header>
  <% if @blog_posts.any? %>
    <section id="posts">
      <%= render :partial => "/blog/shared/post", :collection => @blog_posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%=raw @page[Page.default_parts.second.to_sym] if Page.default_parts.many? %>
	<nav id="secondary">
		<header class="nav-header">
			<h3>Updates</h3>
		</header>
		<div id="tweet"></div>
  	<%= render :partial => "/blog/shared/categories" %>
		<%= render :partial => "/shared/secondary-nav.html.erb" -%>
	</nav>
<% end %>


<%= render :partial => "/shared/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
