<% content_for :body_content_left do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>
<% end %>

<% content_for :body_content_right do %>
	<nav id="secondary">
		<% unless @blog_post.image.blank? %>
			<div class="post-image"><%= image_fu @blog_post.image, '230x100>' %></div>
		<% else %>
			<div class="post-image"><%= image_tag 'placeholder.png' %></div>	
		<% end %>
		<%= render :partial => "/blog/shared/categories" %>
		<%= render :partial => "/blog/shared/posts" %>
		<%= render :partial => "/shared/secondary-nav.html.erb" -%>
		<%= blog_archive_list %>	
	</nav>
<% end %>

<%= render :partial => "/shared/content_page", :locals => { :remove_automatic_sections => true }  %>

<% if Refinery.version < '0.9.9' %>
  <% content_for :head_libraries, jquery_include_tags(:jquery_ui => false) %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'refinerycms-blog' %>
    <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
    <%#= javascript_include_tag('refinerycms-blog') %>
    <% if BlogPost::ShareThis.enabled? %>
      <script src="http://w.sharethis.com/button/buttons.js"></script>
      <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
    <% end %>
  <% end %>
<% else %>
  <% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
  <% content_for :before_javascript_libraries, jquery_include_tags(:jquery_ui => false) %>
  <% content_for :javascripts do %>
    <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
    <%#= javascript_include_tag('refinerycms-blog') %>
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
  <% end if BlogPost::ShareThis.enabled? %>
<% end %>
