<% content_for :body_content_title do %>
  <%= @comic.title %>
<% end %>

<% content_for :body_content_left do %>
  <header class="section-header">
    <h3><%= @comic.title %></h3>
  </header>
  <section>
    <%= @comic.body.html_safe %>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="comics">
      <% @comics.each do |comic| %>
        <li>
          <%= link_to comic.title, comic_url(comic) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
