<% content_for :body_content_title do %>
  <%= @comic.title %>
<% end %>

<% content_for :body_content_top do %>
	<section id="comic-page" style="height:<%= @comic_page.image.height %>px;">
		<%= render "/comics/comic_pages", :comic_page => @comic_page %>
	</section>
<% end -%>

<% content_for :body_content_left do %>
  <section id="show_comic">
		<header class="comic-header">
			<h2><%= @comic.title %></h2>
		</header>
		<section>
			<%= @comic.body.html_safe %>
		</section>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <nav id="secondary">
    <section>
			<header class="nav-header">
				<h4><%= t('.other') %></h4>
			</header>
			<ul>
				<% @comics.each do |comic| %>
					<li <%= "class='selected'" if @comic == comic %>>
						<%= link_to comic.title, comic_url(comic) %>
					</li>
				<% end %>
			</ul>
    </section>
    <%= render :partial => "/shared/secondary-nav.html.erb" -%>
  </nav>
<% end %>