<% content_for :body_content_title do %>
  <%= @comic.title %>
<% end %>

<% content_for :body_content_top do %>
	<%= render :partial => "/comics/comic_pages", :local => { :comic => @comic } %>
<% end -%>

<% content_for :body_content_left do %>
  <section id="show_comic">
		<header class="comic-header">
			<h2><%= @comic.title %></h2>
		</header>
		<section>
			<%= @comic.body.html_safe %>
		</section>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <nav id="secondary">
    <header class="nav-header">
    	<h3><%= t('.other') %></h3>
    </header>
    <ul>
      <% @comics.each do |comic| %>
        <li <%= "class='selected'" if @comic == comic %>>
          <%= link_to comic.title, comic_url(comic) %>
        </li>
      <% end %>
    </ul>
    <%= render :partial => "/shared/secondary-nav.html.erb" -%>
  </nav>
<% end %>

<%= render :partial => "/shared/content_page" %>
