<% content_for :body_content_left do %>
  <%=raw @page[Page.default_parts.first.to_sym] if Page.default_parts.any? %>
	<div id="home">
		<section id="articles">
			<header class="section-header">
				<h3><%= link_to 'Articles', blog_root_path %></h3>
			</header>
			<% if @blog_posts.any? %>
				<article id="posts">
					<%= render :partial => "/blog/shared/post", :collection => @blog_posts, :locals => { :home => true } %>
				</article>
			<% else %>
				<p><%= t('.no_blog_articles_yet') %></p>
			<% end %>
		</section>
		<section id="home-comics">
			<header class="section-header">
				<h3><%= link_to 'Comics', comics_path %></h3>	
			</header>
			<section id="comics">
				<%= render :partial => "/comics/comic_index", :collection => @comics, :as => :comic %>
			</section>
		</section>
  </div>
<% end %>

<% content_for :body_content_right do %>
  <%=raw @page[Page.default_parts.second.to_sym] if Page.default_parts.many? %>
	<nav id="secondary">
		<section>
			<header class="nav-header">
				<h4>Updates</h4>
			</header>
			<div id="tweet"></div>
		</section>
  	<%= render :partial => "/blog/shared/categories" %>
		<%= render :partial => "/shared/secondary-nav.html.erb" -%>
	</nav>
<% end %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
