<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(comic) -%>">
  <span class='title'>
    <%= comic.title %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), comic_url(comic),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_comic_path(comic),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_comic_path(comic),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => comic.title),
        :method => :delete %>
  </span>
</li>
