<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
		<div id="color-accent"></div>
    <div id="wrapper">
			<div id="main">
				<header id="header">
					<%= render :partial => "/shared/header" -%>
					<%= render :partial => "/comics/comic_nav", :local => { :comic => @comic } unless @comic.nil? -%>
					<%= render :partial => "/shared/feature" if request.path == '/'%>
				</header>
				<section id="body_content">
					<%= yield :body_content_top %>
					<section id="body_content_left">
						<%= yield :body_content_left %>
					</section>
					<section id="body_content_right">
						<%= yield :body_content_right %>
					</section>
				</section>
			</div>
    </div>
		<footer id="page-footer">
			<%= render :partial => "/shared/footer" -%>
		</footer>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
